body {
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

#main-info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgb(255, 255, 255);
  margin: 0 8rem 0 8rem;
}

#main-info-container p {
  line-height: 1.4;
}

.business-info {
  font-size: 18px;
  padding: 4rem 8rem;
}

#opening-hours-section {
  background-image: url("background.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(184, 155, 155);
  color: white;
  padding: 20px;
}

#workspaces-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4rem;
}

.workspaces-text {
  padding: 0 5rem 0 0;
}

.workspaces-image img {
  background-color: rgb(219, 219, 219);
  height: 27rem;
  width: 27rem;
  border-radius: 15px;
}

#about-us-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.about-us-text {
  padding: 0 0 0 5rem;
}

.about-us-image img {
  background-color: rgb(219, 219, 219);
  height: 27rem;
  width: 27rem;
  max-width: 100%;
  border-radius: 15px;
}

h2 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 30px;
}
