@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.page-container {
  width: 100vw;
  min-height: 100vh;

  .jumbo-section {
    position: relative;
    width: 100%;

    .image-container {
      position: relative;
      width: 100%;

      img {
        width: 100%;
        display: block;
        object-fit: cover;
      }

      .text-overlay {
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        gap: 20px;
        background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0)
        );
        padding: 100px 150px;
      }

      .button-wrapper {
        display: flex;
        gap: 20px;

        button {
          background-color: black;
          color: white;
          border: none;
          padding: 5px 20px;
          border-radius: 5px;
        }
      }
    }
  }

  .cafe-section {
    width: 100%;
    height: auto;
    padding: 50px 150px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .cafe-title {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .cafe-info {
      display: flex;
      gap: 20px;

      .cafe-meal {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;

        .meal-title p {
          color: green;
          font-style: italic;
        }
      }

      img {
        border-radius: 10px;
      }
    }
  }

  .hours-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: black;
    color: white;
    padding: 30px 150px;
  }
}
