@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main-header {
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main

.main-header nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.main-header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.main-header nav ul li {
  margin: 0 20px;
}

.main-header nav ul li a {
  text-decoration: none;
  color: black;
}

.email-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 100px;
}

.main-footer {
  background-color: black;
  color: white;
  padding: 20px;
}

.content-footer {
  display: flex;
  justify-content: space-between;
}

.content-footer a {
  display: flex;
  gap: 5px;
  align-items: center;
}


.page-container {
  width: 100vw;
  min-height: 100vh;

  .jumbo-section {
    position: relative;
    width: 100%;

    .image-container {
      position: relative;
      width: 100%;

      img {
        width: 100%;
        display: block;
        object-fit: cover;
      }

      .text-overlay {
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        gap: 20px;
        background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0)
        );
        padding: 100px 150px;
      }

      .button-wrapper {
        display: flex;
        gap: 20px;

        button {
          background-color: black;
          color: white;
          border: none;
          padding: 5px 20px;
          border-radius: 5px;
        }
      }
    }
  }

  .cafe-section {
    width: 100%;
    height: auto;
    padding: 50px 150px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .cafe-title {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .cafe-info {
      display: flex;
      gap: 20px;

      .cafe-meal {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;

        .meal-title p {
          color: green;
          font-style: italic;
        }
      }

      img {
        border-radius: 10px;
      }
    }
  }

  .hours-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: black;
    color: white;
    padding: 30px 150px;
  }
}
